modules = ["php-8.2", "nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[agent]
expertMode = true

[workflows]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 32861
externalPort = 3000
